:root {
  --norton-bg: #0000aa;
  --norton-bg-secondary: #02aba8;
  --norton-main: #57ffff;
  --norton-error: #aa0000;
  /* secondary colors */
  --norton-dark: #050505;
  --norton-gray: #a8a8a8;
  --norton-white: #ffffff;
  --norton-yellow: #f8f859;

  --norton-border-style: double;
  --norton-border-width: 1rem;
}
