:root {
  --norton-bg: #0000AA;
  --norton-bg-secondary: #02ABA8;
  --norton-main: #57FFFF;
  --norton-error: #AA0000;
  /* secondary colors */
  --norton-dark: #050505;
  --norton-gray: #A8A8A8;
  --norton-white: #FFFFFF;
  --norton-yellow: #F8F859;
}

html {
  height: 100%;
  font-family: "Perfect DOS VGA 437 Win", monospace;
}


body {
  height: 100%;
}

.norton-main-container {
  display: flex;
  width: 100%;
  background-color: var(--norton-bg);
  height: 100%;
}
